name: SayIt Continuous Integration

on: [push]

permissions:
    contents: read
    checks: write
    id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
      
      - name: Compile Java Classes
        run: javac -cp .:lib/*:src src/**/*.java -d bin

      - name: Compile Unit Tests
        run: javac -cp .:lib/*:bin test/**/*.java -d bin

      - name: Run Unit Tests
        run: java -jar lib/junit-platform-console-standalone-1.9.3.jar -cp bin --scan-class-path

      # report the results
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v3
        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: '**/build/test-results/test/TEST-*.xml'
          detailed_summary: true # display detailed summary of the report
          include_passed: true # include passed tests in the results table